@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 0  auto;
}


/* ------ BLOCK LEFT ------ */


/* .block_left{
    margin-right: 300px;
} */

.img img{
    width: 750px;
}


/* ------ BLOCK RIGTH ------ */


.block_rigth{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* box-sizing: border-box; */
    text-align: center;
    width: 20%;
    margin-right: 15%;
}

/* .logo{
    display: flex;
    justify-content: center;
} */

.logo img{
    width: 120px;
    text-align: right;
}

h2{
    font-size: 1.4em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 1.2em;
}



/* НИЖЧЕ ЙДЕ ФОРМА */



.form input{
    margin-top: 10px;
    font-size: 1em;
    padding: 10px 0 10px 10px;
    border: 1.3px solid #81818152;
    border-radius: 5px;
    width: 15em;
    padding-right: 33.5px;
}

.form input::placeholder{
    color: #81818152;
}



.google-link {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #5383ec;
    color: white;
    border-radius: 5px;
    transition: background-color 0.2s;
    padding: 10px;
    font-size: 1.1em;
    gap: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.google-link:hover {
    background-color: #517cd8;
}

.logo-png{
    height: 20px;
    padding: 7px;
    background-color: #fff;
    border-radius: 10px;
}

.button-signUp {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #5383ec00;
    color: black;
    border-radius: 5px;
    border: 1.3px solid #81818152;
    transition: background-color 0.2s;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    gap: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-signUp:hover {
    background-color: #00000007;
} 

.sing-in{
    padding-top: 1em;
    text-align: center;
}



.terms{
    color: #9b9b9b;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p{
    padding-top: 1em;
    font-size: .8125rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
p a{
    text-decoration: none;
    color: #517cd8;
}
