*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 473px;
    margin: 35px 0;
}

.logo img{
    height: 40px;
    width: 202px;
}

.header-btn a{
    margin-left: 65px;
}

.header-btn .a{
    text-decoration: none;
    font-size: 22px;
    color: #143A83;
}

.signup{
    background-color: #143A83;
    padding: 9px 41px;
    border-radius: 32px;
    color: white;
    text-decoration: none;
    font-size: 22px;
}