<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare System</title>
    <link rel="icon" href="./img/healthcare-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header>
        <div class="header">
            <div class="logo">
                <img src="./img/logoipsum-297 1.png" alt="">
            </div>
            <div class="header-btn">
                <a class="a" href="">About</a>
                <a class="a" href="">Doctors</a>
                <a class="a" href="">Contact</a>
                <a class="signup" href="/login">Sign in</a>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="info-block">
            <div class="info">
                <div class="vertical-line"></div>
                <div class="text">
                    <p>THE HEALTHCARE</p>
                    <p class="p2">SYSTEM</p>
                    <a class="btn-more" href="">More About</a>
                </div>
            </div>

            <div class="info-2">
                <div class="vertical-line2"></div>
                <div class="text2">
                    <p>Is a comprehensive platform designed to streamline medical processes and improve patient care.
                    </p>
                </div>
            </div>

            <div class="info-3">
                <div class="text3">
                    <p>GET STARTED</p>
                    <img width="70px" src="./img/Star.png" alt="">
                </div>
                <div class="input-container">
                    <input type="text" id="userInput" name="userInput" placeholder="Enter your number">
                    <button class="custom-button">Start now</button>
                </div>
            </div>

        </div>

        <div class="img-block">
            <img width="750px" src="./img/doctor.png" alt="">
        </div>
    </div>

</body>

</html>