<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="icon" href="/img/healthcare-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/register.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="./img/logoipsum-297 1.png" alt="">
            </div>
            <div class="header-btn">
                <a class="a" href="">About</a>
                <a class="a" href="">Doctors</a>
                <a class="a" href="">Contact</a>
                <a class="signup" href="/">Back</a>
            </div>
        </div>
    </header>


    <div class="block">
        <div class="block_left">
            <div class="img">
                <img width="750px" height="500px" src="/img/reg-page.jpg" alt="">
            </div>
        </div>

        <div class="block_rigth">
            <div class="text-h2">
                <h2>Create an account</h2>
                <!-- <img src="./img/logoipsum-297 1.png" alt=""> -->
            </div>
            <div class="form-container">
                <form class="form" action="/auth/register" method="POST">
                    <input type="text" id="name" name="name" required placeholder="Name">
                    <input type="email" id="email" name="email" required placeholder="Email">
                    <input type="password" id="password" name="password" required placeholder="Password">
                    <input type="password" id="passwordConfirm" name="passwordConfirm" required
                        placeholder="Confirm your password">
                    <div class="button-container">
                        <div class="button-signUp">
                            <button type="submit" class="">Sign up</button>
                        </div>

                        <div class="btn-signUp-google">
                            <a href="#" class="google-link" onclick="signIn()">
                                <img class="logo-png" src="/img/google.png" alt="">Sign up with Google
                            </a>
                        </div>
                    </div>
                    {{#if message }}
                    <h4 class="alert alert-danger mt-4">{{message}}</h4>
                    {{/if }}
                </form>

                <div class="sing-in">
                    <p class="terms">By continuing, you agree to HealthCare System Company’s <b>Terms of Use</b> and
                        <b>Privacy Policy.</b>
                    </p>
                    <p>Already have an account? <a href="">Log in</a></p>                    
                </div>
            </div>
        </div>
    </div>


    <script src="/script.js"></script>
</body>

</html>